$bg-code: #2d2d2d;
$color-code: #08e008;
$font-code: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
$font-content: "Classic Grotesque W01", "Avenir Next", "Segoe UI", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans", sans-serif;

.article-view {
  font-size: 18px;
  font-family: $font-content;
  color: #5c5c5c;
  vertical-align: baseline;
  font-smoothing: antialiased;
  margin-top: 6rem;
  -webkit-font-smoothing: antialiased;

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // code block
  pre > code {
    display: block;
    padding: 10px;
    color: $color-code;
    border-radius: 4px;
    background-color: $bg-code;
    font-size: 14px;
    line-height: 14 * 1.5px;
    font-family: $font-code;

    // those two lines make sure:
    // 1. white spaces are preserved and lines won't collapse into one
    // 2. prevent long line scroll.
    white-space: pre-wrap;
    word-break: break-all;
  }

  // inline code
  p > code {
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.7em;
  }

  // list
  ol, ul {
    margin: 1em 3em;
  }

  ol {
    list-style: decimal;
    ol {
      list-style: lower-latin;
    }
  }

  ul {
    list-style: disc;
    ul {
      list-style: circle;
    }
  }

  // Header lines
  h1 {
    margin: 1em 0 1em;
  }

  h3 {
    margin: 1em 0 0.5em;
  }

  // blockquote
  blockquote {
    margin: 1em 0;
    border-left: 6px solid #525252;
    padding-left: 2em;
    padding-top: 1em;
    background: #f0f8ff;
    padding-bottom: 1em;
  }

  // table
  table, th, td {
    border: 1px solid black;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #eee;
    }

    th, td {
      padding: 0.4em;
    }

    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;

  }

  P {
    img + em {
      // used as picture description
    }
  }
}
