{% include "common/header.html" %}

<div id="wrapper">
	<div id="article" class="primary" >
		<div class="primary-item-container">
			<div class="primary-item-sep"></div>
		<h1 class="article-title">{{ article['title'] }}</h1><!-- end of "article-title" -->
			<div class="primary-item-sep"></div>

		<div class="article-content" id="content">
			{% for i in article['body'].splitlines() %}
			{% raw i %}<br />
			{% end %}
		</div>
	</div> 
	</div> 

	<div class="widgets-wrapper">
    {% include "widgets/author-info.html" %}
    {% include "widgets/article-status.html" %}
  </div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "common/footer.html" %}