<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>EpicEditor Testing</title>
	<link rel="stylesheet" type="text/css" href="static/css/epictest.css">
	
	<script src="static/epiceditor/js/epiceditor.min.js"></script>
	
</head>

<body>
	<h1>This is Test Area</h1>

  <button type="button" onclick="loadEditor()">Load Editor</button>
  <button type="button" onclick="unloadEditor()">Unload Editor</button>
  <button type="button" onclick="openFile()">Open a File</button>
  <button type="button" onclick="exportFile()">Export the File</button>
  <button type="button" onclick="saveTest()">Save Test</button>
  

  <form>
    <div id="epiceditor"></div>
    <input type="submit"  value="subimit">
  </form>
  <!-- Question 1: when I put the script label below in head label, the functions don't work. why ?
       I may have an answer now: it's about the execution sequence of the javascript. 
  -->

	
  <!-- 
  <script>
    var opts = {
      container: 'epiceditor',
      basePath: 'static/epiceditor',
      clientSideStorage: true,
      localStorageName: 'epiceditor',
      useNativeFullsreen: true,
      parser: marked,
      file: {
        name: 'epiceditor',
        defaultContent: '',
        autoSave: 100
      },
      theme: {
        base:'/themes/base/epiceditor.css',
        preview:'/themes/preview/preview-dark.css',
        editor:'/themes/editor/epic-dark.css'
      },
      focusOnLoad: false,
      shortcut: {
        modifier: 18,
        fullscreen: 70,
        preview: 80
      }
    }
    var editor = new EpicEditor(opts);
  </script>
-->
</body>
<script src="static/js/epictest.js"></script>
</html>