{% include "common/header.html" %}
<div id="wrapper">
    <div class="primary" >

        {% for article in articles %}
            <!-- index content unit -->
        <div class="article-intro primary-item-container">
                <a href="/archive/{{ article['sn'] }}"><img class="article-intro" src="{{ article['img'] }}"></a>
                
                <a href="/archive/{{ article['sn'] }}">
                    <h2 class="article-intro-title" style="width:426px">{{ article['title']}}</h2>
                </a>
                <span class="article-brief">{{ article['subtitle']}}</span>
                    
        </div> <!-- end of ".article-intro" and ".primary-item-container" -->
        {% end %}
    </div> <!-- end of "#primary" -->

    <div class="widgets-wrapper">
        {% include "widgets/newest-articles.html" %}
        {% include "widgets/hotest-articles.html" %}
    </div> <!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->   
{% include "common/footer.html" %}