{% include "../common/header.html" %}
<div id="wrapper">
  <div class="primary-wrapper">

  <div class="primary">
    <div class="primary-item-sep"></div>
    <div class="member-info">
      <img class="member-info" src="{{ master['avatar_large'] }}">
      <div class="member-info-container">
        <h2 class="member-info">{{ master['name'] }}</h2>
        <p class="member-info">{{ master['email'] }}</p>
        
        <div id="edit-button" onclick="editBio()">[&nbsp;<i class="icon-edit icon-large"></i>编辑个人简介&nbsp;]</div>
        {% if master.has_key('brief') and master['brief'] %}
        <span class="member-info" style="font-size:15px;line-height:22px;">{{ master['brief'] }}</span>
        {% end %}
        <textarea class='inputbox member-info' autofocus style="display:none"></textarea>
        <button id='submit' class='button submit-button' style="display:none">Submit</button>
      </div>
    </div> <!-- end of ".member-info" -->      
          <div class="primary-item-sep"></div>
  </div> <!-- end of "primary" -->

  <div class="primary" >
        <div class="primary-item-container">
          {% for article in articles %}
          <div class="article-list" id="article-list-{{ article['sn'] }}" style="margin-bottom:10px">
              <span class="article-caption" >
                  <a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a>
              </span>

              <span class="article-option-right option" onclick="deleteArticle({{ article['sn']}})"><i class="icon-trash  icon-large"></i></span>
              <span class="article-option option"><a href="/update/{{ article['sn']}}"><i class="icon-edit icon-large"></i></a></span>
          </div> <!-- end of article-list -->
          {% end %} 
        </div><!-- end of primary-item-container --> 
  </div> <!-- end of "primary" --> 

  </div><!-- end of primary-wrapper -->   

	<div class="widgets-wrapper">
    {% include "../widgets/tools-list.html" %}
    {% include "../widgets/personal-info-manage.html" %}
    {% include "../widgets/color.html" %}
  </div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "../common/footer.html" %}




