{% include "../common/header.html" %}

<!-- body content wrapper -->
<div id="wrapper">
    <div class="primary-wrapper">
    <div class="primary" >
        <div class="primary-item-container">
            <div class="primary-caption">
            <span class="primary-caption-icon"><i class="icon-list icon-2x"></i></span>
            <span class="primary-caption-words">文章管理</span>
            </div><!-- end of  "primary-caption" -->

            <div class="primary-item-sep"></div>

            {% for article in articles %}
            <div class="article-list">
                <ul class="article-list">
                    <li class="article-list-caption"><a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a></li>
                    <li class="article-list"><span class="option" onclick="deleteArticle({{ article['sn']}})">Delet</span></li>
                    <li class="article-list"><a href="/update/{{ article['sn']}}">Edit</a></li>
                </ul>
            </div>
            <div class="primary-item-sep"></div>
            {% end %}    

	   </div>
    </div>
    </div> <!-- end of "primary" --> 

<div class="widgets-wrapper">
{% include "../widgets/tools-list.html" %}
</div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "../common/footer.html" %}
