{% for article in articles %}
<div class="article-list primary-item-container" id="{{ article['sn'] }}" style="margin:0px 20px 20px">
	<span class="article-caption" >
		<a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a>
	</span>
	<span class="article-option-right option" onclick="deleteArticle({{ article['sn'] }})" style="visibility:hidden">
		<i class="icon-trash  icon-large"></i>
	</span>
	<span class="article-option option" style="visibility:hidden">
		<a href="/update/{{ article['sn']}}"><i class="icon-edit icon-large"></i></a>
	</span>
	<span class="article-option option" onclick="previewArticle({{ article['sn']}})" style="visibility:hidden">
		<i class="icon-eye-open icon-large"></i>
	</span>
</div> 
{% end %}
