
{% include "../common/header.html" %}
<!-- body content wrapper -->
<div id="wrapper">
    <div class="primary-wrapper">
    <div class="primary" >

<div class="primary-item-container">

  <div class="primary-caption">
    <span class="primary-caption-icon"><i class="icon-pencil icon-2x"></i></span>
    <span class="primary-caption-words">写文章</span>
  </div><!-- end of  "primary-caption" -->

    <div class="primary-item-sep"></div>

  <form class="article" action="/article" enctype="multipart/form-data" method="post">

      <div class="primary-item-sep"></div>
    <input id="title" class="inputbox article" type="text" name="title" placeholder="标题" autofocus style="height:25px">
      <div class="primary-item-sep"></div>
    <textarea class="inputbox article" name="brief" placeholder="简介" style="min-height:60px"></textarea>
      <div class="primary-item-sep"></div>
    <textarea class="inputbox article" id="text-content" name="content" placeholder="正文" style="min-height:260px"></textarea>    
      <div class="primary-item-sep"></div>
    <input type="submit" class="button submit-button" value="发表">
      <div class="primary-item-sep"></div>
  </form><!-- end of "article-editor" -->
  <script>
        $("input.submit-button").click(function(event) {
          // neither title nor main article conent should be null.
            if(!$.trim($('#title').val()) || !$.trim($('#text-content').val())){
              event.preventDefault();
            }
        });
      </script>
	</div>
</div><!-- end of primary -->
</div>

  <div class="widgets-wrapper">
    {% include "../widgets/tools-list.html" %}
  </div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "../common/footer.html" %}




