{% include "common/header.html" %}
{% include "common/article-banner.html" %}

  <div class="wrapper">
    <div class="main-content">
      <div class="main-content-header">
        <a href="/">HOME</a> / ARTICLE
      </div>

      <div class="post article-view">
        <div class="content">
          {% raw article['content'] %}
        </div>

      </div>

      {% if site['site_comment_enabled'] == 'yes' %}
      <div class="comment-box">
        {% include "partials/site_comment.html" %}
      </div>
      {% end %}

    </div><!--

    --><div class="sub-content">
    {% include "partials/article-metadata.html" %}
    </div>

{% include "common/footer.html" %}
