{% include "common/header.html" %}
{% include "common/banner.html" %}

  <div class="wrapper">
    <div class="main-content">
      <div class="main-content-header">
        <a href="/">HOME</a> / ARTICLE
      </div>

      <a href="{{ article['path'] }}"><h1 class="title">{{ article['title'] }}</h1></a>

      <ul class="meta">
        <li class="timestamp" title="{{ article['created_at'].strftime("%Y-%m-%dT%H:%M:%SZ") }}">{{ article['created_at'].strftime("%Y/%m/%d") }}</li>
        <li class="category"><a href="/category/{{ article['category'] }}">{{ article['category'] }}</a></li>

        {% if current_user and current_user['role'] == 'admin' %}
        <li class="admin-btn"><a href="/controlpanel#/editor/{{ article['uuid'] }}">EDIT</a></li>
        {% end %}
      </ul>

      <div class="post article-view">
        <div class="content">
          {% raw article['content'] %}
        </div>

      </div>

      {% if site['site_comment_enabled'] == 'yes' %}
      <div class="comment-box">
        {% include "partials/site_comment.html" %}
      </div>
      {% end %}

    </div><!--

    --><div class="sub-content">
    {% include "partials/archives.html" %}
    {% include "partials/tags.html" %}
    </div>

{% include "common/footer.html" %}
