{% include "common/header.html" %}
{% include "common/banner.html" %}

<div class="wrapper">
  <div class="main-content">

    <div class="main-content-header">
      <a href="/">HOME</a>
    </div>

    {% if len(articles) == 0 %}

      No articles

    {% else %}

      {% include "partials/article-list.html" %}
      {% include "partials/paging.html" %}

    {% end %}
  </div>
  <!--

  --><div class="sub-content">
  {% if current_user and current_user['role'] == 'admin' %}
  {% include "partials/drafts.html" %}
  {% end %}


  {% include "partials/archives.html" %}
  {% include "partials/categories.html" %}
  {% include "partials/tags.html" %}
  {% include "partials/links.html" %}
  </div>

</div> <!-- End of .wrapper -->
{% include "common/footer.html" %}
