#! /usr/bin/env python
# coding=utf-8

HOSTNAME = "http://example.host.domain" # full host name

# Mailgun service http://mailgun.com
MAIL_API_URL = "https://api.mailgun.net/v2/example.mailgun.org/messages" # replace with your own mailgun api url
MAIL_API_AUTH = ("api", "apivalue") # replace with your own api value
MAIL_FROM = "example <examle@host.domain>"

# MongoDB Service
DB_HOST = "localhost"
DB_PORT = 27017



