<div class="widgets">
	<span class="widget-caption">Author</span>
		<div class="widget-inner-sep"></div>
	<div class="member">
		<a class="member" href="/u/{{ tpl_article['author'].lower }}"><img class="avatar" src="/static/img/avatar/anran.jpg" alt="anran" width="50" height="50px"></a>
		<ul class="member">
			<li class="member"><a class="member" href="/u/{{ tpl_article['author'].lower }}">{{ tpl_article['author'] }}</a></li>
			<li class="member"><span class="member"></li>
		</ul>
	</div><!-- end of "member" -->
</div><!-- closing of ".widgets" -->