<div class="widgets">
    <span class="widget-caption">i-ZONE</span>
        <div class="widget-inner-sep"></div>
    <div class="member">
        <a class="member" href="/u/{{ tpl_values['name_l'] }}"><img class="avatar" src="/static/img/avatar/anran.jpg" alt="anran" width="50" height="50px"></a>
        <ul class="member">
            <li class="member"><a class="member" href="/u/{{ tpl_values['name_l'] }}">{{ tpl_values['name'] }}</a></li>
            <li class="member"><span class="member">a lovely boy</li>
        </ul>
    </div>
</div>