// Font
$postFontColor: #555555;
$postLinkColor: rgb(33, 103, 250);
$menuFont: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$contentFont: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;

// Color
$title-color: #565656;
$green: #08B494;
$bg-color: #F5F7F9;
