<div>
  <div class="article-list-layout">
    <h1 class="table-title">个人信息</h1>
    <Row>
      <Col span="10">
        <Form :model="profile" :label-width="120">
          <FormItem label="用户名">
            <Input v-model="profile.username" placeholder="用户名"></Input>
          </FormItem>

          <FormItem label="邮箱">
            <Input v-model="profile.email" placeholder="邮箱"></Input>
          </FormItem>

          <FormItem label="邮箱验证">
            <span>{{ profile.email_verified }}</span>

            <Button type="primary" @click="sendVerifyLinkToEmail(profile.email)" v-if="profile.email_verified === 'no'">验证邮箱</Button>
          </FormItem>

          <!--
          <FormItem label="每页文章数">
            <Input v-model="settings.posts_per_page" placeholder="每页文章数"></Input>
          </FormItem>

          <FormItem label="站点统计服务">
            <Input v-model="settings.site_tracking" placeholder="站点统计服务"></Input>
          </FormItem>

          <FormItem label="Tracking ID">
            <Input v-model="settings.site_tracking_id" placeholder="Tracking ID"></Input>
          </FormItem>

          <FormItem label="启用站点追踪">
            <Input v-model="settings.enableTracking" placeholder="启用站点追踪"></Input>
          </FormItem>

          <FormItem label="文章默认分类">
            <Input v-model="settings.default_category" placeholder="文章默认分类"></Input>
          </FormItem>

          <FormItem label="Google AdSense">
            <Input v-model="settings.google_adsense" placeholder="Google AdSense"></Input>
          </FormItem>

          <FormItem label="主题">
            <Select v-model="settings.site_theme">
                <Option v-for="item in settings.themes" :value="item" :key="item">{{ item }}</Option>
            </Select>
          </FormItem>

          <FormItem label="全局站点评论">
            <i-switch v-model="settings.site_comment_enabled" size="large" true-value="yes" false-value="no">
              <span slot="open">开启</span>
              <span slot="close">关闭</span>
            </i-switch>
          </FormItem>
          -->

          <FormItem>
            <Button type="primary" @click="save">保存</Button>
          </FormItem>
        </Form>
      </Col>
    </Row>
  </div>
</div>

