
{% include "../common/header.html" %}

<!-- body content wrapper -->
<div id="wrapper">

  <div class="primary" >
          <div class="primary-item-sep"></div>
        <div class="member-info">
          <img class="member-info" src="/static/img/avatar/CherryGirl.jpg">
          <div class="member-info-container">
            <h2 class="member-info">Anran</h2>
            <p class="member-info">qar@outlook.com</p>
            <p class="member-info">A Simple Man</p>
          </div>
        </div> <!-- end of ".member-info" -->      
          <div class="primary-item-sep"></div>
  </div> <!-- end of "primary" -->       

	<div class="widgets-wrapper">
    {% include "../widgets/tools-list.html" %}
  </div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "../common/footer.html" %}




