<div class="widget">
  <div class="widget-header">ARCHIVES</div>
  <div class="widget-body">
    <ul>
      {% for year in archives.keys() %}
        {% for month in archives[year].keys() %}
        <li>
          <a href="/archive/{{ year }}/{{ month }}">
            <table>
              <tr>
                <td class="item-head">{{ year }} {{ archives[year][month]['abbr'] }}</td>
                <td class="item-dash"></td>
                <td class="item-tail">({{ archives[year][month]['count'] }})</td>
              </tr>
            </table>
          </a>
        </li>
        {% end %}
      {% end %}
    </ul>
  </div>
</div>
