{% if len(tags) > 0 %}
<div class="widget">
  <div class="widget-header">TAGS</div>
  <div class="widget-body">
    <ul>

      {% for tag in sorted(tags, key = lambda x:x['count'], reverse=True)[0:19] %}
      <li>
        <a href="/tags/{{ tag['tag'] }}">
          <table>
            <tr>
              <td class="item-head">{{ tag['tag'] }}</td>
              <td class="item-dash"></td>
              <td class="item-tail">({{ tag['count'] }})</td>
            </tr>
          </table>
        </a>
      </li>
      {% end %}

    </ul>
  </div>
</div>
{% end %}
