.article-list-layout {
  // Override iview table cell style
  & /deep/ td.tag-list {
    span {
      background-color: #EAEAEA;
      border-radius: 3px;
      padding: 1px 4px;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}
