/** common  **/
*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

html{
	height: 100%;
}

body{
	margin: auto;
	height: 100%;
	overflow: auto;
	background-color: #e3e3e3;
	text-align: center;
	font-family:  Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #555555;
}

p{
	font-size: 17px;
	line-height: 25px;
}

a{
	color: #666666;
	text-decoration: none;
}

img{
	max-width: 636px;
}

textarea{
	width: 100%;
	max-width: 100%;
	min-height: 200px;
	height: auto;
	border: 1px solid silver;
}


ul{
	list-style-type: none;
}

.inputbox{
	padding: 2px;
	border: 1px solid silver;
}

.inputbox:focus{
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8) ;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,0.6);
}

.button{
	border-radius: 4px;
	height: 25px;
	background-color: #eeeeee;
	border: 1px solid silver;
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.7);
}

.submit-button{
	width: 100px;
	float: left;
}

.button:active{
	box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.7) inset;
}

#logo{
	float: left;
	color: #FFFFFF;
	font-size: 30px;
}

/** add this '.fixed' in div.widget-wrapper's class list make widget fixed
*** This make the first widget fixed
**/
.fixed{
	position: fixed;
}

/****** NOTICE: THIS AREA SHOULD NOT BE CHANGED-HEAD ******/

/*** VERSION 1: Fixed Header 
#header{
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: #3A4040;
	box-shadow: 0px 2px 2px rgba(120,120,120,0.4);	
}
#header-wrapper{ 
	width: 960px;
	height: 35px;
	margin:0px auto;	
}
***/
/*** VERSION 2: Normal Header  ***/
#header{
	width: 100%;
	box-shadow: 0px 2px 2px rgba(120,120,120,0.4);	
}

#header-wrapper{ 
	width: 960px;
	height: 35px;
	margin:0px auto;	
}


/****** NOTICE: THIS AREA SHOULD NOT BE CHANGED-END ******/

.common-color{
	background-color: #87ac80;
}



#wrapper{ /* content wrapper */
	min-height: 100%;
	height: auto ! important;
	width: 960px;
	margin: 30px auto;
	/** if fixed header:
	margin-top: 65px;	**/	
	text-align: left;
	background-color: transparent;
	overflow: hidden;
}


#footer{ /* contains #footer-wrapper  */
	height: 60px;
	background-color: white;
	color: #868686;
}

#footer-wrapper{ /* wrap footer content */
	width: 960px;
	height: 60px;
	margin: 0px auto;
	background-color: transparent;
}

/******************************   primary    **********************************************/
div.primary-wrapper{
	float: left;
	height: auto;
	width: 676px;
}

div.primary-item-sep{
	width: 100%;
	height: 20px;
	float: right;
}

div.primary{ /* style specific */
	height: auto;
	background-color: #ffffff;
	border-radius: 4px;
    box-shadow: 1px 1.5px 2px rgba(12,12,12,0.5); 
    overflow: hidden; 
	width: 100%;
	margin-bottom: 50px;
	float: left;
}

div.primary-item-container{ /* #primary's general items style */
	margin: 20px;
	height: auto;
	width: auto;
}


/****** NOTICE: THIS AREA SHOULD NOT BE CHANGED-HEAD ******/
/*** WIDGET ***/

div.widgets-wrapper{
	width: 267px;
	margin-left: 15px;  /* gap between #primary and #secondary */
	margin-right: 2px; /* leave space for border*/
	min-height: 100%;
	height: auto;
	float: right;
}

div.widget{ 
	height: auto;
	background-color: #ffffff;
	border-radius: 4px;
    box-shadow: 1px 1.5px 2px rgba(12,12,12,0.5); 
    overflow: hidden; 
	height: auto;
	width: auto;
	float:right;
	margin-bottom: 20px;
}

div.widget-caption{
	color: #ffffff;
	width: 262px;
	height: 20px;
	padding: 3px 0px 0px 5px;
	border-radius: 4px 4px 0px 0px;
    overflow: hidden; 
	float: left;
}

div.widget-wrapper{
	width: 100%;
	max-width: 247px;
	float: left;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}
/****** NOTICE: THIS AREA SHOULD NOT BE CHANGED-END ******/
