div.article-intro{ /* display on index page */
	padding:9px 0px 28px 0px;
	margin-bottom: 29px;
	overflow: hidden;
}

img.article-intro{ /** display on index page**/
	width: 192px;
	height: 108px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 2px 2.5px 3px rgba(152,153,153,1);
}

h2.article-intro-title{
	/*
	float: left;
	max-width: 434px;
	*/
	font-size: 19px;
	line-height: 25px;
	color: #0061a1;
}

span.article-brief{
	/*
	float: left;
	width: 100%;
	*/
	font-size: 14px;
	line-height: 18px;
	color: #8E8E8E;

}

