@charset "utf-8";
/*** the primary part ***/
/**   primary **/
div.primary-wrapper{
	float: left;
	height: auto;
	width: 676px;
}

div.primary-item-sep{
	width: 100%;
	height: 20px;
	float: right;
}
div.primary{ /* style specific */
	height: auto;
	background-color: #ffffff;
	border-radius: 4px;
    box-shadow: 1px 1.5px 2px rgba(12,12,12,0.5); 
    overflow: hidden; 
	width: 100%;
	margin-bottom: 50px;
	float: left;
}
div.primary-item-container{ /* #primary's general items style */
	margin: 20px;
	width: auto;
	height: auto;
}

/** PAGES **/
div.pages{
	height: 25px;
	width: auto;
	margin: 0px auto;
	text-align: center;
	background-color: #eeeeee;
}

span.pages{
	height: 18px;
	width: 35px;
	padding-top: 5px;
	border-radius: 4px;
	display: inline-block;
	border: 1px solid silver;
}

/** sumbmit article form **/
form.article{
	width: 100%;
	height: auto;
	float: left;	
	overflow: visible;
}
input.article, textarea.article{
	width: 632px;
	float: left;
}
/*
textarea.article{
	height: 200px;
}
*/

/** index **/
div.article-intro{ /* display on index page */
	padding:10px 0px 15px 0px;
	margin-bottom: 29px;
	overflow: hidden;
}
img.article-intro{ /** display on index page**/
	width: 192px;
	height: 108px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
	border-radius: 6px;
	box-shadow: 2px 2.5px 3px rgba(152,153,153,1);
}
h2.article-intro-title{
	word-break: break-all;
	word-wrap: break-word;
	margin: 0px;
	padding: 0px;
/*
	width: auto;
	height: auto;
*/
	max-width: 636px;
/*
	font-size: 19px;
	line-height: 150%;
*/
	color: #0061a1;
}
span.article-brief{
	word-break: break-all;
	word-wrap: break-word;
	display: block;
	width: auto;
	max-width: 636px;
	font-size: 14px;
	line-height: 18px;
	color: #8E8E8E;
}
h1.article-title{
	word-break: break-all;
/*
	font-size: 25px;
	line-height: 150%;
	font-weight: normal;
*/
	color: #0061a1;
}
div.article-content{
	
	word-break: break-all;
	width: 100%;
	margin: 30px 0px 20px 0px;
	float: left;
	color: #3E3E3E;
	font-size: 15px;
}


/*** member regist ***/
form#regist-form{
	width:260px;
	height: auto;
	margin-right:7px; 
	padding: 20px 20px 20px 20px;
	margin: auto;
	float: left;
	overflow: hidden;
	background-color: #FFFFFF;
}
div.input-prepend{
	height: 31px;
	width: auto;
	margin-bottom: 10px;
}
span.add-on{
	padding: 4px;
	height: 21px;
	min-width: 21px;
	width: auto;
	border-radius: 3px 0px 0px 3px;
	border: 1px solid #DDDDDD;
	float: left;
	background-color: #dddddd;
	text-align: center;
	vertical-align: middle;
}
span.add-on-blank{
	padding: 0px;
	border: 1px solid silver;
	border-radius: 0px 3px 3px 0px;
	height: 29px;
	width: 150px;
	float: left;
	font-size: 12px;
}
input.span2{
	border-radius: 0px 3px 3px 0px;
	height: 25px;
	width: 180px;
	float: left;
	font-size: 12px;
	vertical-align: middle;
}
div.err{
	width:auto;
	height: auto;
	padding: 5px;
	background-color: #cc0000;
	color: #ffcc00;
}



/**##01-HED  /home/manage rgba(76, 134, 125, 0.59) ****/
div.article-list{
	margin:0px;
	padding: 0px;
	width: 636px;
	height: 30px;
	/*background-color:rgba(76, 134, 125, 0.59) ;*/
	float: left;
	border: 1px solid #a4cbd9;
	border-radius: 5px;
	/*box-shadow: 0 1px 1px rgba(0,0,0, 0.6);*/
}


span.article-caption{
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	max-width: 440px;
	overflow: hidden;
	vertical-align: middle;
}


span.article-caption > a{
	color:#5c494d;
}

span.article-option, span.article-option-right{
	float: right;
	height: 30px;
	width: 35px;
	background-color: #a4cbd9;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	line-height: 29px;
	border-left: 1px solid #f1f0f1;
}

span.article-option:active, span.article-option-right:active{
	box-shadow: 0 1px 1px rgba(0,0,0, 0.6) inset;
}
span.article-option-right{
	border-radius: 0px 5px 5px 0px; 
	
}

/**##01-END /home/manage  ****/


/*** member-info ***/
div.member-info{
	width:636px;
	min-height:180px;
	height: auto;
}
div.member-info > img{
	float: left;
	width:150px;
	height: 150px;
	border-radius: 5px;
}
div.member-info-container{
	width: 461px;
	padding: 0px 0px 0px 15px;
	float: right;
	height: auto;
}
h2.member-info, p.member-info{
/*
	margin-bottom: 10px;
	height: auto;
*/
	width: 100%;
	margin: 0px;
}


/** comments zone **/
div.comment{
	min-height: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cdcdcd;
	overflow: auto;
}
p.comment{
	margin: 0px;
	max-width: 576px;
	float: left;
	font-size: 14px;
/*
	line-height: 150%;
*/
}

ul.special-thx{
	list-style-type: none;
	float: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	font-size: 12px;
}

ul.special-thx{
	text-align: left;
}

ul.brand{
	float: right;
	list-style-type: none;

}

ul.brand > li{
	float: right;
	margin-left: 20px;
}