


/**** widget:comment ****/
form#comment > textarea{
	width: 237px;
	max-width: 237px;
	height: 25px;
	padding:4px;
}
form#comment > input.button{
	float: left;
	margin-top: 6px;
}
span.timestamp{
	font-size: 12px;
	color:#888888;
}


/*** widget:article-status***/
div.article-status{
	height: auto;
	width: 100%;
	float: left;
	padding: 8px 0px;
}
div.article-status > ul{
	display: inline;
	list-style-type: none;
}
div.article-status > ul > li{
 	margin-bottom: 8px;
}

span#previous, span#following{width: auto;}
span#previous{float: left;}
span#following{float: right;}

#articleLikeMark{
}
.dislike{
	color: silver;
}
.like{
	color: red;
}
/***  widget "tool-list" ***/
ul.tools-list{
	list-style-type: none;
	width: 248px;
	height: auto;
}
ul.tools-list > li{
	width: 100%;
	float: left;
	height: 30px;
}
ul.tools-list > li > a{color: #555555;}



/** widgets/hotest-articles.html **/
#hotestArticles{
	padding: 0px 0px 0px 5px;
	float: left;
	height: auto;
	list-style-type: none;
	max-width: 100%;
}

#hotestArticles > li{
	font-size: 14px;
	margin: 2px 0px 10px 0px;
	max-width: 100%;
	overflow: hidden;
}

a.hot-list{
	color:#8E8E8E;
}
div.hotestArticles{
	float: left;
	padding: 10px;
}


/*** widgets/personal-info-manage.html ***/
/*** widgets/tools-list.html ***/
div.option-nav{
	margin: 0px;
	border: 0px;
	padding: 5px 10px 0px;
	width: 100%;
	max-width: 247px;
	height: 26px;
	float: left;
	color:white;
}

div.option-nav > span, div.option-nav > a{
	padding-right: auto;
	height: 20px;
	line-height: 20px;
	float: left;
	width: 80px;
	/*margin-right: 8px;*/
	text-align: center;
	vertical-align: middle;	
}
div.option-nav > a{
	color: white;
	float: left;
}

div.option-nav > span:hover, div.option-nav > a:hover{
	text-shadow: 0px 0px 1px;
	text-decoration: none;
}



#msgViewer{
	height: 80px;
	overflow: scroll;
}
.msgBox{
	height: auto;
	width: auto;
	max-width: 65%;
	background-color: rgb(213, 221, 223);
	border-radius: 6px;
	margin: 0px 10px 0px 10px;
	padding: 5px;
}

.msgThere{
	float: left;
}

.msgHere{
	float: right;
}


.msgAvatar{
	border-radius: 4px;
}

.msgContent{
	width: 100%;
}


.infoBox{
	height: 100%;
	width: auto;
	margin: 0px;
}

p.msgContent{
	margin: 0px 0px 10px 0px;
	width: auto;
}
p.timestamp{
	font-size: 0.8em;
	width: auto;
	margin: 0px;
	color: rgb(150, 150, 150);
}