


/**** widget:comment ****/
form#comment > textarea{
	width: 237px;
	max-width: 237px;
	height: 25px;
	padding:4px;
}
form#comment > input.button{
	float: left;
	margin-top: 6px;
}
span.timestamp{
	font-size: 12px;
	color:#888888;
}


/*** widget:article-status***/
div.article-status{
	height: auto;
	width: 100%;
	float: left;
	padding: 8px 0px;
}
div.article-status > ul{
	display: inline;
	list-style-type: none;
}
div.article-status > ul > li{
 	margin-bottom: 8px;
}
a.arrow{color: #555555;}

a.arrow:hover{
	text-shadow: 0px 0px 1px;
}
span#previous, span#following{width: auto;}
span#previous{float: left;}
span#following{float: right;}



/***  widget "tool-list" 
ul.tools-list{
	list-style-type: none;
	width: 248px;
	height: auto;
}
ul.tools-list > li{
	width: 100%;
	float: left;
	height: 30px;
}
ul.tools-list > li > a{color: #555555;}
***/


/** widgets/hotest-articles.html **/
#hotestArticles{
	padding: 0px 0px 0px 5px;
	float: left;
	height: auto;
	list-style-type: none;
	max-width: 100%;
}

#hotestArticles > li{
	font-size: 14px;
	margin: 2px 0px 10px 0px;
	max-width: 100%;
	overflow: hidden;
}

a.hot-list{
	color:#8E8E8E;
}
div.hotestArticles{
	float: left;
	padding: 10px;
}

