{#
	Template Value
	article['heat']
	article['date']
	article['review']
	adjoins[0] (previous)
	adjoins[1] (following)
#}
<div class="widget">
	<div class="widget-caption common-color">关于这篇文章</div>
	<div class="widget-wrapper">
		<div class="article-status">
			<ul>
				<li class="theme"><i class="icon-fire"></i>{{ article['heat']}}°</li>
				<li class="option theme" title="Like It" id="articleLikeMark">
					<i class="icon-heart-empty"></i><span id="peopleLikeIt"></span></li>
				<li class="theme">创建时间 {{ article['date'] }}</li>
				<li class="theme">最近更新 {{ article['review'] }}</li>
			</ul>
		</div>

		{% if adjoins[0] is not None %}
			
			<a class="theme" href="/article/{{ adjoins[0] }}">
				<span id="previous"><i class="icon-double-angle-left"></i>&nbsp;前一篇</span>
			</a>
		{% end %}

		{% if adjoins[1] is not None %}
			<a class="theme" href="/article/{{ adjoins[1] }}">
				<span id="following">后一篇&nbsp;<i class="icon-double-angle-right"></i></span>
			</a>
		{% end %}
</div>
</div>

<script>
	$(document).ready(function(){
		$.ajax({
			url: window.location.href,
			type: "GET",
			dataType: "json",
			success : function(data){
				console.log(data);
				if(data[1] == true){
					$("#articleLikeMark").children("i").removeClass("icon-heart-empty");
					$("#articleLikeMark").children("i").addClass("icon-heart");
				}
				$("#peopleLikeIt").html("&nbsp;&nbsp;"+data[0]+"&nbsp;people like it");
			}
		})
		$("#articleLikeMark").click(function(){
			if($(this).children("i").hasClass("icon-heart-empty")){
				$(this).children("i").removeClass("icon-heart-empty");
				$(this).children("i").addClass("icon-heart");
				$.ajax({
					url: window.location.href,
					type: "POST",
					dataType: "json",
					data: "mark="+"like",
					success: function(data){
						$("#peopleLikeIt").html("&nbsp;&nbsp;"+data+"&nbsp;people like it");
					},
				})
			}else if($(this).children("i").hasClass("icon-heart")){
				$(this).children("i").removeClass("icon-heart");
				$(this).children("i").addClass("icon-heart-empty");
				$.ajax({
					url: window.location.href,
					type: "POST",
					dataType: "json",
					data: "mark="+"dislike",
					success: function(data){
						$("#peopleLikeIt").html("&nbsp;&nbsp;"+data+"&nbsp;people like it");
					},
				})
			}
		});
	});
</script>