{#
	Template Value
	article['heat']
	article['date']
	article['review']
	adjoins[0] (previous)
	adjoins[1] (following)
#}
<div class="widget">
	<div class="widget-caption common-color">关于这篇文章</div>
	<div class="widget-wrapper">
		<div class="article-status">
			<ul class="article-status">
				<li ><i class="icon-fire"></i>{{ article['heat']}}°</li>
				<li >创建时间 {{ article['date'] }}</li>
				<li >最近更新 {{ article['review'] }}</li>
			</ul>
		</div>

		{% if adjoins[0] is not None %}
			<span id="previous">
				<a href="/article/{{ adjoins[0] }}"><i class="icon-double-angle-left"></i>&nbsp;前一篇</a>
			</span>
		{% end %}

		{% if adjoins[1] is not None %}
			<span id="following">
				<a href="/article/{{ adjoins[1] }}">后一篇&nbsp;<i class="icon-double-angle-right"></i></a>
			</span>
		{% end %}
</div>
</div>