<div class="widget">
	<div class="widget-caption common-color">获取最佳使用体验，请使用：</div>
	<div class="widget-wrapper" style="padding:5px">
		<a class="avatar" style="margin-right:15px" href="http://www.google.com/intl/zh-CN/chrome/browser/" title="Chrome浏览器">
			<img src="/static/img/chrome-128.png" width="65px"  height="65px">
		</a>
		<a class="avatar" style="margin-right:15px" href="http://firefox.com.cn/download/">
			<img src="/static/img/firefox-128.png" title="火狐浏览器" width="65px" height="65px">
		</a>

	</div>
</div>


