<p id="passwordResetErrorMsg" style="margin:5px;font-size:14px"></p>
<div id="passwordReset" style="margin:0px; padding:10px;float:left;max-width:247px; width:227px;">
	<div class="input-prepend">
		<span class="add-on"><i class="icon-key"></i></span>
		<input class="span2 inputbox" id="passwordResetOriginPwd" type="password" placeholder="旧密码">
	</div><!-- end of "input-prepend"-->
	<div class="input-prepend">
		<span class="add-on"><i class="icon-key"></i></span>
		<input class="span2 inputbox" id="passwordResetNewPwd" type="password" placeholder="新密码">
	</div><!-- end of "input-prepend"-->
	<div class="input-prepend">
		<span class="add-on"><i class="icon-key"></i></span>
		<input class="span2 inputbox" id="passwordResetNewPwdRepest" type="password"  placeholder="重复输入一次新密码">
	</div><!-- end of "input-prepend"-->
	<input class="button submitButton" id="asldkjfash" type="submit" value="提交更改" style="float:right">
	<script>
		$("#asldkjfash").click(function(){
			var originPwd = $.trim($('#passwordResetOriginPwd').val())
			var newPwd = $.trim($('#passwordResetNewPwd').val());
			var newPwdRepeat = $.trim($('#passwordResetNewPwdRepest').val()); 

			$.ajax({
				url:"/reset",
				type: "POST",
				dataType:"json",
				data: {"originPwd":originPwd, "newPwd":newPwd, "newPwdRepeat":newPwdRepeat},
				success:function(data){
					if(data.length > 0){
						$.each(data, function(key, val){
							$("#passwordResetErrorMsg").empty();
							$("#passwordResetErrorMsg").html(val);
							$("#passwordResetErrorMsg").css({"color":"red"});
						});
					}else{
						var msg = "密码更新成功";
						$("#passwordResetErrorMsg").empty();
						$("#passwordResetErrorMsg").html(msg);
						$("#passwordResetErrorMsg").css({"color":"green"});
					}
					$("#passwordResetOriginPwd").val("");
					$("#passwordResetNewPwd").val("");
					$("#passwordResetNewPwdRepest").val('');
				},
			});  
		});
	</script>
</div>
