<div>
    <Row>
      <Col span="12" offset="6">
        <Form :model="settings" :label-width="80">
          <FormItem label="站点标题">
            <Input v-model="settings.site_title" placeholder="站点标题"></Input>
          </FormItem>

          <FormItem label="站点地址">
            <Input v-model="settings.site_url" placeholder="站点地址"></Input>
          </FormItem>

          <FormItem>
            <Button type="primary" @click="save">保存</Button>
          </FormItem>
        </Form>
      </Col>
    </Row>
</div>
