<div>
  <!-- nav zone -->
  <div id="navbar">
    <Menu active-name="1" theme="dark" width="auto">
      <div class="layout-logo-left"><img src="/static/img/logo.png"></div>

      <MenuItem name="1">
          <Icon type="coffee" :size="iconSize"></Icon>
          <router-link :to="{ name: 'ArticleList' }" tag="span" class="layout-text">Articles</router-link>
      </MenuItem>

      <MenuItem name="2">
          <Icon type="gear-a" :size="iconSize"></Icon>
          <router-link :to="{ name: 'Settings' }" tag="span" class="layout-text">Settings</router-link>
      </MenuItem>

      <Submenu name="3">
          <template slot="title">
              <Icon type="ios-keypad"></Icon>
              Item 2
          </template>
          <MenuItem name="2-1">Option 1</MenuItem>
          <MenuItem name="2-2">Option 2</MenuItem>
      </Submenu>
    </Menu>
  </div>

  <!-- main content -->
  <div id="wrapper">
    <div id="wrapper-inner">
      <router-view></router-view>
    </div><!-- End of #wrapper-inner -->
  </div><!-- End of #wrapper -->
</div>
