<div class="layout">
  <!-- nav zone -->
  <div id="navbar">
    <Menu :active-name="activeName" theme="dark" width="auto" @on-select="goToPage">
      <a class="layout-logo-left" href="/"><img src="/static/img/logo.png"></a>

      <Submenu name="0">
          <template slot="title">
              <Icon type="ios-keypad"></Icon>
              COMPOSE
          </template>
          <MenuItem name="MarkdownEditor">
            <span class="layout-text">New Article</span>
          </MenuItem>
      </Submenu>

      <MenuItem name="ArticleList" >
          <Icon type="coffee" :size="iconSize"></Icon>
          <span class="layout-text">Articles</span>
      </MenuItem>

      <MenuItem name="Trash">
          <Icon type="trash-b" :size="iconSize"></Icon>
          <span class="layout-text">Trash</span>
      </MenuItem>

      <MenuItem name="DraftsList">
          <Icon type="document" :size="iconSize"></Icon>
          <span class="layout-text">Draft</span>
      </MenuItem>

      <MenuItem name="WidgetsPage">
          <Icon type="document" :size="iconSize"></Icon>
          <span class="layout-text">Widgets</span>
      </MenuItem>

      <MenuItem name="FriendsLinks">
          <Icon type="at" :size="iconSize"></Icon>
          <span class="layout-text">Friends Links</span>
      </MenuItem>

      <MenuItem name="CommentList">
          <Icon type="at" :size="iconSize"></Icon>
          <span class="layout-text">Comments</span>
      </MenuItem>

      <MenuItem name="TokenList">
          <Icon type="ios-finger-print" :size="iconSize"/>
          <span class="layout-text">Tokens</span>
      </MenuItem>

      <MenuItem name="Settings">
          <Icon type="gear-a" :size="iconSize"></Icon>
          <span class="layout-text">Settings</span>
      </MenuItem>
    </Menu>
  </div>

  <!-- main content -->
  <div id="wrapper">
    <div id="wrapper-inner">
      <router-view></router-view>
    </div><!-- End of #wrapper-inner -->
  </div><!-- End of #wrapper -->
</div>
