<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ tpl_values['title'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
</head>


<body>

<div id="header">
    <div id="header-wrapper">
        <a id="logo" href="/">PAGE302</a>
        <ul class="nav">
            {% if tpl_values['auth'] %}
            <li class="nav"><a class="nav" href="/home">{{ tpl_values['name'] }}</a></li>
            <li class="nav"><a class="nav" href="/logout ">登出</a></li>
            {% else %}
            <li class="nav"><a class="nav" href="/login">登录</a></li>
            <li class="nav"><a class="nav" href="/register">注册</a></li>
            {% end %}
        </ul>
    </div><!-- end of heaer-wrapper -->
</div> <!-- end of header -->


<!-- body content wrapper -->
<div id="wrapper">

    <div id="primary" >
    {% block "primary" %}{% end %}
    </div> <!-- end of "primary" -->



    <div class="widgets-wrapper">
     <!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">i-ZONE</span>
            <!-- display the articles as different catalogue -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <div class="member">
                <a class="member" href="/u/{{ tpl_values['name_l'] }}"><img class="avatar" src="/static/img/avatar/anran.jpg" alt="anran" width="50" height="50px"></a>
                <ul class="member">
                    <li class="member"><a class="member" href="/u/{{ tpl_values['name_l'] }}">{{ tpl_values['name'] }}</a></li>
                    <li class="member"><span class="member">a lovely boy</li>
                </ul>
            </div><!-- end of "author" -->
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->


    <!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">Tools List</span>
            <!-- display the articles as different catalogue -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <ul class="tools-list">
                    <li class="tools-list"><a class="tools-list" href="/home/write"><i class="icon-pencil"></i>Write a Article</li>
                    <li class="tools-list"><a class="tools-list" href="/home/manage"><i class="icon-list"></i>Articles You've Wrote</li>
                    <li class="tools-list"><a class="tools-list" href="/home/setting"><i class="icon-list"></i>Modify personal data</li>
                </ul>
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->



</div><!-- Closing of widgets-wrapper -->


</div> <!-- Closing of wrapper -->

 <div id="footer">
    <div id="footer-wrapper">
        <ul class="special-thanks">
            <li class="special-thanks">Designed By Anran</li>
            <li class="special-thanks">
                感谢&nbsp;<a class="special-thanks" href="https://twitter.com/fortaweso_me/" target="_blank">
                <strong style="type:bold">@FortAweso_me</strong></a>&nbsp;
                提供的&nbsp;<a class="special-thanks" href="http://fortawesome.github.com/Font-Awesome/#" target="_blank"><strong style="type:bold">Font Awesome</strong></a>&nbsp;精致图标集
            </li>
        </ul>
        <a style="float:right;margin:auto" href="http://www.tornadoweb.org/"><img src="/static/img/tornado.png" width=143px height=36px></a>
    </div>
</div>

</body>
</html>



