<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vanellope.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/widgets.css" />
	<link rel="shortcut icon" href="/static/img/favicon.ico" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/js/vanellope.js"></script>

	{% if master and master['color'] %}
	<style>
		.common-color{
			background-color: {{ master['color'] }};
			color:white;
		}
		.theme{
			color: {{ master['color'] }};
		}
	</style>
	{% end %}
	
</head>

<body>
<div id="header" class="common-color">
<div id="header-wrapper">
  <a id="logo" class="bare" href="/">VANELLOPE</a>
  <span style="float:left; font-size:10px; height:100%; color:white; padding-left:6px; padding-top:5px">Pilot</span>
 
  <ul class="nav">
  {% if master %}
	<li class="nav" id="memberName"><a  href="/home">{{ master['name'] }}</a></li>
	{% if master['messages'] > 0 %}
	<li class="nav"><a href="/message"><i class="icon-envelope"></i></a></li>
	{% end %}
	<li class="nav"><a href="/logout ">退出</a></li>
{% else %}
	<li class="nav"><a href="/login">登录</a></li>
	<li class="nav"><a href="/register">注册</a></li>
	{% end %}
  </ul>

  
  </script>
</div><!-- end of heaer -->
</div> <!-- end of header-wrapper -->

