{# template values:
## title: the title of this html page
#} 
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- resharp page302.css into vanellope.css. when it's ready , rename vanellope.css as page302.css and relace the one already exists. -->
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/widgets.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    {% if master and master['color'] %}
    <style>
        .common-color{background-color: {{ master['color'] }};}
    </style>
    {% end %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/page302.js"></script>
</head>

<body>
<div id="header" class="common-color">
<div id="header-wrapper">
  <a id="logo" href="/">PAGE302</a>

  <ul class="nav">
  {% if master %}
    <li class="nav"><a class="nav" href="/home">{{ master['name'] }}</a></li>
    <li class="nav"><a class="nav" href="/logout ">退出</a></li>
    {% else %}
    <li class="nav"><a class="nav" href="/login">登录</a></li>
    <li class="nav"><a class="nav" href="/register">注册</a></li>
    {% end %}
  </ul>
</div><!-- end of heaer -->
</div> <!-- end of header-wrapper -->

