<div>
  <section v-if="section === 'edit'">
    <input type="text" class="article-title" ref="title" v-model="settings.title">
    <div id="editor" class="editor-instance"></div>
  </section>

  <section v-if="section === 'preview'">
    <div class="article-title">{{ settings.title }}</div>
    <div id="preview" v-html="html" class="article-view"></div>
  </section>

  <Row class="article-tools">
    <Col span="24">
      <ButtonGroup>
        <Button icon="edit" @click="editing" :type="isInEditMode"></Button>
        <Button icon="eye" @click="preview" :type="isInPreviewMode"></Button>
        <Button icon="pound" @click="modals.categoryModal = true">{{ settings.category }}</Button>
        <Button icon="tag" @click="modals.tagsModal = true">{{ settings.tags.length }}</Button>
        <Button icon="upload" @click="publish" type="ghost" :loading="isPublishing"></Button>

        <Modal
          v-model="modals.categoryModal"
          title="选择分类">
          <AutoComplete
            v-model="settings.category"
            :data="categories"
            placeholder="Category">
          </AutoComplete>
        </Modal>

        <Modal
          v-model="modals.tagsModal"
          title="添加标签">
            <vue-tags-input
              v-model="newTag"
              :tags="settings.tags"
              :autocomplete-items="sortedTags"
              @tags-changed="onTagsChanged" />
        </Modal>
      </ButtonGroup>
    </Col>
  </Row>
</div>
