{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary">

	{% for article in articles %}
	<div class="article-list primary-item-container" id="{{ article['sn'] }}" style="margin:0px 20px 20px">
		<span class="article-caption" titlee="{{ article['title']}}">{{ article['title']}}</span>
		<span class="article-option-right option" onclick="removeCheck({{ article['sn']}})" title="彻底移除">
		<i  class="icon-trash  icon-large"></i>
		</span>
		<span class="article-option option" onclick="recoverArticle({{ article['sn']}})" title="恢复">
		<i class="icon-undo  icon-large"></i>
		</span>
	</div>
	{% end %} 

	<div class="pages" style="float:left; text-align:center; width:100%;margin:30px auto auto 0px">
	{% if pages > 10 %}
		{% for page in range(1, 10) %}
		<a href="/home?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
		{% end %}
		<span id="pages-more", class="option pages">...</span>
	{% else %}
		{% for page in range(1, pages) %}
		<a href="/home?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
		{% end %}
	{% end %}
	</div> <!-- end of div.pages -->
	<script>
		function removeCheck(sn){
			if(confirm("彻底移除不可恢复，继续？")){
				deleteArticle(sn);
			}
		}
	</script> 

	</div><!-- end of div.primary -->
	</div><!-- end of primary wrapper -->

	<div class="widgets-wrapper">
	{% include "widgets/tools-list.html" %}
	</div><!-- Closing of widgets-wrapper -->


</div> <!-- end of div#wrapper --> 
{% include "common/footer.html" %}