{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary" >

		<div class="primary-item-container">
			{% if errors %}
				{% for error in errors %}
					<p style="color:red">{{ error }}</p>
				{% end %}
			{% end %}
		
			<form id="regist-form" action="/forget" method="post">

				<div class="input-prepend">
					<span class="add-on"><i class="icon-user"></i></span>
					<input class="span2 inputbox" id="js-id-1" type="text" name="name" placeholder="用户名" autofocus>
				</div><!-- end of "input-prepend"-->

				<div class="input-prepend">
					<span class="add-on"><i class="icon-envelope"></i></span>
					<input class="span2 inputbox" id="js-id-2" type="text" name="email" placeholder="注册时填写的邮箱">
				</div><!-- end of "input-prepend"-->

				<input class="button submit-button" type="submit" value="提交">
			</form>
			<script>
        	$("input.submit-button").click(function(event) {
            if(!$.trim($('#js-id-1').val()) && !$.trim($('#js-id-2').val())){
            event.preventDefault();
            }
        });
      </script>
			
		</div><!-- end of ".primary-item-container" -->
	</div> <!-- end of "#primary" -->

	<div class="widgets-wrapper">
	</div> <!-- Closing of widgets-wrapper -->
</div>
</div> <!-- Closing of wrapper -->
{% include "common/footer.html" %}
