{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary">
		<div class="primary-item-container">
		<div class="member-info">
			<img src="{{ member['avatar_large'] }}">
			<div class="member-info-container">
				<h2 class="member-info">{{ member['name'] }}</h2>
				<p class="member-info">{{ member['email'] }}</p>				
			  	<span id="memberBriefEditor" class="option"><i class="icon-edit"></i></span>
			  	<p class="member-info" id="member-brief" style="font-size:15px;line-height:22px;height:100px;width:461px"> 
			  		{% if member['brief'] %}
			  		{{ member['brief'] }} 
					{% end %}
			  	</p>
				<textarea class='inputbox member-info' autofocus style="display:none;height:94px;width:461px"></textarea>
			</div> <!-- end of "div.member-info-container" -->
		</div> <!-- end of div.member-info -->
		</div> <!-- end of "div.primary-item-container" -->
	</div> <!-- end of "primary" -->

	<div class="primary" style="padding-top:35px">
		<div id="jq-insert-mark">
			{% for article in articles %}
			<div class="article-list primary-item-container" id="{{ article['sn'] }}" style="margin:0px 20px 20px">
			<span class="article-caption" >
			<a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a>
			</span>
			<span class="article-option-right option" onclick="deleteArticle({{ article['sn'] }})" style="visibility:hidden" title="删除">
			<i class="icon-trash  icon-large"></i>
			</span>
			<span class="article-option option" style="visibility:hidden" title="修改">
			<a href="/update/{{ article['sn']}}"><i class="icon-edit icon-large"></i></a>
			</span>
			<span class="article-option option" onclick="previewArticle({{ article['sn']}})" style="visibility:hidden" title="预览">
			<i class="icon-eye-open icon-large"></i>
			</span>
			</div> 
			{% end %}
		</div>

		<div class="pages" style="float:left; text-align:center; width:100%;margin:30px auto auto 0px">
		{% if pages > 10 %}
			{% for page in range(1, 10) %}
				<span id="pages-{{ page }}" class="option pages">{{ page }}</span>
			{% end %}
				<span id="pages-more", class="option pages">...</span>
		{% else %}
			{% for page in range(1, pages) %}
				<span id="pages-{{ page }}" class="option pages">{{ page }}</span>
			{% end %}
		{% end %}
		</div> <!-- end of div.pages -->

		<script>
			$("span.pages").click(function(){
				var page = $(this).html();
				var uname = $("h2.member-info").html();
				getPageByAuthor(page, uname);
			});

			$("#memberBriefEditor").click(function(){
				$(this).hide();
			  	$('#member-brief').hide(300);
			  	$('textarea.member-info').show(300).focus();
			  	$('textarea.member-info').html($.trim($('#member-brief').text()));

			  	$('textarea.member-info').blur(function(){
					var content = $.trim($('textarea.member-info').val());
					$('#member-brief').html(content);
					$('textarea.member-info').hide(300);
					$('#member-brief').show(300);
					$.ajax({
						url:"/home",
						type:"POST",
						data:{'brief': content},
					});
					$("#memberBriefEditor").show();
			  	});
			});  
			$(document).on("mouseenter", "div.article-list", function(){
				$(this).children("span.option").css({"visibility":"visible"}).fadeIn(500);
			});
			$(document).on("mouseleave", "div.article-list", function(){
				$(this).children("span.option").css({"visibility":"hidden"}).fadeOut(500);
			});
		</script>
	
	</div> <!-- end of "primary" -->
  	</div><!-- end of primary-wrapper -->   

	<div class="widgets-wrapper">
    	{% include "widgets/tools-list.html" %}
		{% include "widgets/personal-info-manage.html" %}
  	</div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "common/footer.html" %}




