{% include "common/header.html" %}
{#
	Template Value
		master['name']
		master['email']
		master['brief']
		master['avatar-Large']
		articles: A mapping object:
			item['sn']
			item['title']
		pages
#}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary">
		<div class="primary-item-container" style="height:auto">
		<div class="member-info">
			<img src="{{ master['avatar_large'] }}">
			<div class="member-info-container" style="height:auto">
				<h2 class="member-info">{{ master['name'] }}</h2>
				<p class="member-info">{{ master['email'] }}</p>				
			  	<span id="memberBriefEditor" class="option"><i class="icon-edit"></i></span>
			  	<p class="member-info Bio" id="member-brief" style="min-height:100px;height:auto;width:461px"> 
			  		{% if master['brief'] %}
			  			{% for i in master['brief'].splitlines() %}
			  				{{i}}</br>
			  			{% end %}
					{% end %}
			  	</p>
			  	<span class="inputErrMsg"></span>
				<textarea class='inputbox member-info' autofocus maxlength="250" style="display:none;height:100px;width:461px">
				</textarea>
			</div> <!-- end of "div.member-info-container" -->
		</div> <!-- end of div.member-info -->
		</div> <!-- end of "div.primary-item-container" -->
	</div> <!-- end of "primary" -->

	{% if total > 0 %}
	<div class="primary" style="padding-top:35px">
		<div id="jq-insert-mark">
			{% for article in articles %}
			<div class="article-list primary-item-container" id="{{ article['sn'] }}" style="margin:0px 20px 20px">
				<span class="article-caption" ><a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a></span>

				<span class="article-option-right option" onclick="deleteArticle({{ article['sn'] }})" style="visibility:hidden" title="删除"><i class="icon-trash  icon-large"></i>	</span>

				<span class="article-option option" style="visibility:hidden" title="修改"><a href="/update/{{ article['sn']}}"><i class="icon-edit icon-large"></i></a></span>

				<span class="article-option option" onclick="previewArticle({{ article['sn']}})" style="visibility:hidden" title="预览"><i class="icon-eye-open icon-large"></i></span>
			</div> 
			{% end %}
		</div>

		
		<div class="pages" style="float:left; text-align:center; width:100%;margin:30px auto auto 0px">
		{% if pages > 10 %}
			{% for page in range(1, 10) %}
				<a href="?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
			{% end %}
				<span id="pages-more", class="option pages">...</span>
		{% else %}
			{% for page in range(1, pages) %}
				<a href="?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
			{% end %}
		{% end %}
		</div> <!-- end of div.pages -->
		<script>
			{#
			$("span.pages").click(function(){
				var page = $(this).html();
				var uname = $("h2.member-info").html();
				getPageByAuthor(page, uname);
			});
			#}

			$("#memberBriefEditor").click(function(){
				$(this).hide();
			  	$('#member-brief').hide();
			  	$.ajax({
			  		url:"/brief",
			  		type:"GET",
			  		dataType: "json",
			  		success: function(data){
			  			$('textarea.member-info').html(data);
			  			$('textarea.member-info').show(300).focus();
			  		},
			  	});

			  	$('textarea.member-info').blur(function(){
					var input = $.trim($('textarea.member-info').val());
					$.ajax({
						url:"/brief",
						type:"POST",
						data:{'brief': input},
						success: function(data){
							location.reload();
						}
					});
					
			  	});
			});  

			$(document).on("mouseenter", "div.article-list", function(){
				$(this).children("span.option").css({"visibility":"visible"}).fadeIn(500);
			});
			$(document).on("mouseleave", "div.article-list", function(){
				$(this).children("span.option").css({"visibility":"hidden"}).fadeOut(500);
			});
		</script>
	
	</div> <!-- end of "primary" -->
	{% end %}{# end of "if total > 0" statement #}
  	</div><!-- end of primary-wrapper -->   

	<div class="widgets-wrapper">
		{% include "widgets/personal-info-manage.html" %}
    	{% include "widgets/tools-list.html" %}
  	</div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "common/footer.html" %}




