{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary">
		<div class="primary-item-container" style="height:auto">
		<div class="member-info">
			<img src="{{ member['avatar_large'] }}">
			<div class="member-info-container" style="height:auto">
				<h2 class="member-info">{{ member['name'] }}</h2>
				<p class="member-info Bio" id="member-brief" style="min-height:100px;height:auto;width:461px"> 
			  		{% if member['brief'] %}
			  			{% for i in member['brief'].splitlines() %}
			  				{{i}}</br>
			  			{% end %}
					{% end %}
			  	</p>
			</div> <!-- end of "div.member-info-container" -->
		</div> <!-- end of div.member-info -->
		</div> <!-- end of "div.primary-item-container" -->
		</div> <!-- end of "primary" -->

	{% if total > 0 %}
	<div class="primary" style="padding-top:35px">
		<div id="jq-insert-mark">
			{% for article in articles %}
			<div class="article-list primary-item-container" id="{{ article['sn'] }}" style="margin:0px 20px 20px">
				<span class="article-caption" style="max-width:615px" >
					<a href="/article/{{ article['sn']}}" title="{{ article['title']}}">{{ article['title']}}</a>
				</span>
			</div>
			{% end %}
		</div>

		
		<div class="pages" style="float:left; text-align:center; width:100%;margin:30px auto auto 0px">
		{% if pages > 10 %}
			{% for page in range(1, 10) %}
				<a href="?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
			{% end %}
				<span id="pages-more", class="option pages">...</span>
		{% else %}
			{% for page in range(1, pages) %}
				<a href="?p={{page}}"><span id="pages-{{ page }}" class="option pages">{{ page }}</span></a>
			{% end %}
		{% end %}
		</div> <!-- end of div.pages -->
		

		<script>
			$("span.pages").click(function(){
				var page = $(this).html();
				var uname = $("h2.member-info").html();
				getPageByAuthor(page, uname);
			});
		</script>
	
	</div> <!-- end of "primary" -->
	{% end %}
	
  	</div><!-- end of primary-wrapper -->   

	<div class="widgets-wrapper">	
		{% if master['name'] %}
		{% include "widgets/message.html" %}
		{% end %}
  	</div><!-- Closing of widgets-wrapper -->

</div> <!-- Closing of wrapper -->

{% include "common/footer.html" %}




