{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
{% if messages %}
	<div class="primary">
	{% for msg in messages %}
		{% if msg['sender']['uid'] == master['uid'] %}
		<div class="primary-item-container" id="{{ msg['uid']}}">
			<div class="infoBox msgHere">
				<a href="/member/{{ master['uid']}}">
				<img class="msgAvatar msgHere" src="{{ master['avatar'] }}" title="{{ master['name']}}" width="50px" height="50px"></a>
			</div>
			<div class="msgHere msgBox" style="padding-left:20px">
				<p class="msgContent msgHere">{{ msg['body'] }}</p>
				<br/>
				<p class="timestamp msgHere">{{ msg['date'] }}&nbsp;&nbsp;to&nbsp; </p>
			</div>
			<div class="option msgDeleteBtn msgHere" onclick="deleteMsg({{ msg['uid'] }})" style="visibility:hidden"><i class="icon-trash icon-2x"></i></div>
		</div>

		{% else %}
		<div class="primary-item-container" id="{{ msg['uid']}}">
			<div class="infoBox msgThere">
				<a href="/member/{{msg['sender']['uid']}}">
				<img class="msgAvatar msgThere" src="{{ msg['sender']['avatar'] }}" title="{{ msg['sender']['name']}}" width="50px" height="50px"></a>
			</div>
			<div class="msgThere msgBox" style="padding-right:20px">
				<p class="msgContent msgThere">{{ msg['body'] }}</p>
				<br/>
				<p class="timestamp msgThere">{{ msg['date'] }}</p>
			</div>
			<div class="option msgDeleteBtn msgThere" onclick="deleteMsg({{ msg['uid'] }})" style="visibility:hidden"><i class="icon-trash icon-2x"></i></div>
		</div>
		{% end %}

	{% end %}
	</div><!-- end of div.primary -->
{% else %}
		<div class="primary" style="padding:0px;">
			<div id="ifNoComment primary-item-container" style="border: 1.5px dashed silver; padding:10px">
				<span>暂无私信。</span>
			</div>
		</div><!-- end of div.primary -->
{% end %} {# end of 'if messages' #}

	
	</div><!-- end of primary wrapper -->


	<div class="widgets-wrapper">
		{% include "widgets/message-usage.html" %}
		{% include "widgets/contacter.html" %}
	</div><!-- Closing of widgets-wrapper -->
</div> <!-- end of div#wrapper --> 

<script>
	$(document).ready(function(){
		$("div.primary-item-container").mouseenter(function(){
			$(this).children("div.msgDeleteBtn").css({"visibility":"visible"})
		});
		$("div.primary-item-container").mouseleave(function(){
			$(this).children("div.msgDeleteBtn").css({"visibility":"hidden"})
		});

		
	});
	function deleteMsg(msg_uid){
		if(confirm("确定要删除这条消息吗？")){
            $.ajax({
                url: "/message",
                type: "post",
                dataType: "json",
                data: {"message": msg_uid},
                success: function(data){
                    if(data[0] == true){
                        $("#" + data[1]).slideUp(300);
                    }
                }
            });
        }
			
		}
</script>

{% include "common/footer.html" %}