{% include "common/header.html" %}
<div id="wrapper">
	<div class="primary-wrapper">
	<div class="primary" >
		<div class="primary-item-container">

			{% if errors %}
				{% for error in errors %}
					<p style="color:red">{{ error }}</p>
				{% end %}
			{% end %}

			<form id="regist-form" action="/password?key={{key}}" method="post">

				<div class="input-prepend">
					<span class="add-on"><i class="icon-key"></i></span>
					<input class="span2 inputbox" type="password" name="pwd" placeholder="New password">
				</div><!-- end of "input-prepend"-->

				<div class="input-prepend">
					<span class="add-on"><i class="icon-key"></i></span>
					<input class="span2 inputbox" type="password" name="cpwd" placeholder="Repeat your password">
				</div><!-- end of "input-prepend"-->

				<input class="button submit-button" type="submit" value="提交">
			</form>

		</div>
	</div>
	</div>

</div> <!-- Closing of wrapper -->   
{% include "common/footer.html" %}