  <div class="footer">
    <div class="wrapper">
      <span class="copyright">{{ site['site_title'] }} &copy; {{ year }}</span>
      <span class="power-by">Powered By </span>
      <span class="engine">
        <a href="https://github.com/qar/vanellope" alt="qar/vanellope" target="_blank">VANELLOPE</a>
      </span>
    </div>
  </div><!-- .footer -->

</div><!-- #main-wrapper -->

<div class="slidebar"></div>

{% if site['site_tracking_enabled'] == 'yes' %}
  {% include '../partials/site_tracking.html' %}
{% end %}
</body>
</html>
