<!DOCTYPE html>
<html lang="{{ site['site_lang'] }}">
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">

  {% include "./favicon.html" %}

  <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

  {% include "../partials/google_adsense.html" %}
</head>

<body>
  <div id="main-wrapper">
