<div class="widget">
	<div class="widget-caption common-color">关于这篇文章</div>
	<div class="widget-wrapper">
		<div class="article-status">
			<ul class="article-status">
				<li ><i class="icon-fire"></i>{{ article['heat']}}°</li>
				<li >创建于 {{ article['date'] }}</li>
				<li >最近更新 {{ article['review'] }}</li>
				{#
				{% if article['category'] %}
				<li >Category {{ article['category'] }}</li>
				{% end %}
				#}
			</ul>
		</div>

		{% if pre is not None %}
			<span id="previous">
				<a href="/article/{{ pre }}"><i class="icon-double-angle-left"></i>&nbsp;前一篇</a>
			</span>
		{% else %}
			<span id="previous">没了</span>
		{% end %}

		{% if fol is not None %}
			<span id="following">
				<a href="/article/{{ fol }}">后一篇&nbsp;<i class="icon-double-angle-right"></i></a>
			</span>
		{% else %}
			<span id="following">没了</span>
		{% end %}
</div>
</div>