<div class="widgets">
	<span class="widget-caption">Author</span>
		<div class="widget-inner-sep"></div>
	<div class="member">
		<a class="member" href="/u/{{ tpl_values['author_name_l'] }}"><img class="avatar" src="/static/img/avatar/anran.jpg" alt="anran" width="50" height="50px"></a>
		<ul class="member">
			<li class="member"><a class="member" href="/u/{{ tpl_values['author_name_l'] }}">{{ tpl_values['author_name'] }}</a></li>
			<li class="member"><span class="member">{{ tpl_values['author_brief'] }}</li>
		</ul>
	</div><!-- end of "member" -->
</div><!-- closing of ".widgets" -->