<div class="widgets"><!-- reused manytimes  -->
    <span class="widget-caption">Author Options</span>
        <div class="widget-inner-sep"></div>
    <ul class="archive">
        <li class="archive"><i class="icon-edit"></i><a class="archive" href="/archive/0?option=edit">Edit this article</a></li>
            <div class="widget-inner-sep"></div>
        <li class="archive"><i class="icon-remove"></i><a class="archive" href="/archive/0?option=rm">Remove this article</a></li>
            <div class="widget-inner-sep"></div>
        <li class="archive"><i class="icon-star-empty"></i><a class="archive" href="/archive/0?option=mark">Mark this as the best of mine</a></li>
    </ul>
</div><!-- closing of ".widgets" -->