<div class="widget">
	<div class="widget-caption">小编</div>
	<div class="widget-wrapper">
		<div class="member">
			<a class="member" href="/member/{{ author['name_low'] }}">
				<img class="avatar" src="{{ author['avatar'] }}" alt="{{ author['name'] }}" width="50" height="50px">
			</a>
			<ul class="member">
				<li class="member"><a class="member" href="/member/{{ author['name_low'] }}">{{ author['name'] }}</a></li>
				<li class="member"><span class="member"></li>
			</ul>
		</div>

		
	</div><!-- end of '.widget-wrapper' -->
</div><!-- end of '.widget' -->