<div class="widgets">
    <span class="widget-caption">分类目录</span>
        <div class="widget-inner-sep"></div>
    <ul class="archive">
        <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Jan</a></li>
            <div class="widget-inner-sep"></div>
        <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Feb</a></li>
            <div class="widget-inner-sep"></div>
        <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Mar</a></li>
    </ul>
</div><!-- end of ".widgets" -->