<div class="widgets">
    <span class="widget-caption">Tools List</span>
        <div class="widget-inner-sep"></div>
    <ul class="tools-list">
        <li class="tools-list"><a class="tools-list" href="/home/write"><i class="icon-pencil"></i>Write a Article</li></a>
        
        <li class="tools-list"><a class="tools-list" href="/home/manage"><i class="icon-list"></i>Articles You've Wrote</li></a>
        <li class="tools-list"><a class="tools-list" href="/home/setting"><i class="icon-list"></i>Modify personal data</li></a>
    </ul>
</div>