
{% extends "base.html" %}
{% block "primary" %}
		<div class="primary-item-container">
			<div class="primary-item-sep"></div>
			<h1 class="article-title">smart forstars "sports utility" concept heads to Detroit</h1><!-- end of "article-title" -->
			<div class="primary-item-sep"></div>
			<span class="article-subtitle">First shown in Paris last year, the smart forstars concept has a video projector mounted in the hood, turning the pint-sized EV into mobile drive-in.</span>
			
			<div class="primary-item-sep"></div>

			<div class="article-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3D全景展示這個不瞭解，不知道需要做到什麼程度，至於前三點，你可以猛啃 Rails ，一個月之類應該能搭出能用的來，前臺要麼找模板要麼套 Bootstrap 之類的東西。這是一個選擇。又或者你可以搭個 WordPress 找個適合的模板，一週之內搞定，當然這能不能達到畢設要求就不清楚了。
			<br/><br/>
			<img class="article-pic" src="/static/img/article/suv.jpg" title="热度">
			That task at hand is to identify and mark dark "fans" and "blotches," intriguing surface features the origin of which scientists can only speculate upon. The prevailing hypothesis is that, during the Martian autumn, a layer of carbon dioxide ice forms at the south pole. Come spring, sunlight penetrates the ice (which became translucent over the winter), heating the ground beneath it, causing the ice to sublimate (i.e. transform directly from solid to gas) from beneath. With gas accumulating at ever increasing pressure, and the ice sheet thinning from below, the ice inevitably cracks. When it does, gas erupts from the fissure like a geyser, taking loose surface material with it.
			</div>
		</div> <!-- end of "#article" and ".primary-item-container" -->
{% end %}


{% block "widgets" %}
	<div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
			<span class="widget-caption">Author</span>
			<div class="widget-inner-sep"></div>
			<div class="member">
				<a class="member" href="/u/{{ tpl_values['name_l'] }}"><img class="avatar" src="/static/img/avatar/anran.jpg" alt="anran" width="50" height="50px"></a>
				<ul class="member">
					<li class="member"><a class="member" href="/u/{{ tpl_values['name_l'] }}">{{ tpl_values['name'] }}</a></li>
					<li class="member"><span class="member">a lovely boy</li>
				</ul>
			</div><!-- end of "author" -->
			<div class="widget-inner-sep"></div>
	</div></div><!-- closing of widget and ".widget-container" -->

	<!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">Author Options</span>
            <!-- display the articles as different catalogue -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <ul class="archive">
                    <li class="archive"><i class="icon-edit"></i><a class="archive" href="/archive/0?option=edit">Edit this article</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-remove"></i><a class="archive" href="/archive/0?option=rm">Remove this article</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-star-empty"></i><a class="archive" href="/archive/0?option=mark">Mark this as the best of mine</a></li>
                </ul>
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->


	<div class="widgets"><div class="widget widget-container"><!-- reused manytimes  -->
		<span class="widget-caption">About This Article</span>
		<div class="widget-inner-sep"></div>
		<div class="article-status">
			<ul class="article-status">
				<li class="article-status"><i class="icon-fire"></i>1200°</li>
			</ul>
		</div><!-- end of "article-status" -->
	</div></div><!-- closing of widget and ".widget-container" -->

    <!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">Related Links</span>
            <!-- display the articles as different catalogue -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <ul class="archive">
                    <li class="archive"><i class="icon-link"></i><a class="archive" href="http://www.baidu.com" target="_blank">Baidu</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-link"></i><a class="archive" href="http://www.v2ex.com" target="_blank">v2ex</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-link"></i><a class="archive" href="http://www.renren.com" target="_blank">renren</a></li>
                </ul>
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->



{% end %}