<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ tpl_values['title'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
</head>


<body>

<div id="header">
    <div id="header-wrapper">
        <a id="logo" href="/">PAGE302</a>
        <ul class="nav">
            {% if tpl_values['auth'] %}
            <li class="nav"><a class="nav" href="/home">{{ tpl_values['name'] }}</a></li>
            <li class="nav"><a class="nav" href="/logout ">登出</a></li>
            {% else %}
            <li class="nav"><a class="nav" href="/login">登录</a></li>
            <li class="nav"><a class="nav" href="/register">注册</a></li>
            {% end %}
        </ul>
    </div><!-- end of heaer-wrapper -->
</div> <!-- end of header -->


<!-- body content wrapper -->
<div id="wrapper">

    <div id="primary" >
    {% block "primary" %}{% end %}
    </div> <!-- end of "primary" -->

    {% block "widgets" %}{% end %}

</div> <!-- Closing of wrapper -->

 <div id="footer">
    <div id="footer-wrapper">
        <ul class="special-thanks">
            <li class="special-thanks">Designed By Anran</li>
            <li class="special-thanks">
                感谢&nbsp;<a class="special-thanks" href="https://twitter.com/fortaweso_me/" target="_blank">
                <strong style="type:bold">@FortAweso_me</strong></a>&nbsp;
                提供的&nbsp;<a class="special-thanks" href="http://fortawesome.github.com/Font-Awesome/#" target="_blank"><strong style="type:bold">Font Awesome</strong></a>&nbsp;精致图标集
            </li>
        </ul>
        <a style="float:right;margin:auto" href="http://www.tornadoweb.org/"><img src="/static/img/tornado.png" width=143px height=36px></a>
    </div>
</div>

</body>
</html>



