

{% extends "base.html" %}
{% block "primary" %}
        <!-- index content unit -->
        <div class="article-intro primary-item-container">
            <a href="/archive/0"><img class="article-intro" src="static/img/article/0-intro.jpg" width="192px" height="108px"></a>
            <a href="/archive/0">
                <h2 class="article-intro-title" style="width:426px">AbleNook portable dwelling assembles in two hours</h2>
                <span class="article-intro-subtitle">AbleNook is a new prefabricated living prototype that “snaps together” in a matter of hours</span>
            </a>
        </div><!-- end of article-intro -->

        <!-- index content unit -->
        <div class="article-intro primary-item-container">
            <a href="/archive/1"><img class="article-intro" src="static/img/article/1-intro.png" width="192px" height="108px"></a>
            <a href="/archive/1">
                <h2 class="article-intro-title" style="width:426px">smart forstars "sports utility" concept heads to Detroit</h2>
                <span class="article-intro-subtitle">First shown in Paris last year, the smart forstars concept has a video projector mounted in the hood, turning the pint-sized EV into mobile drive-in.</span>
            </a>
        </div><!-- end of article-intro -->

        <!-- index content unit -->
        <div class="article-intro primary-item-container">
            <a href="/archive/2"><img class="article-intro" src="static/img/article/2-intro.png" width="192px" height="108px"></a>
            <a href="/archive/2">
                <h2 class="article-intro-title" style="width:426px">The singNshock alarm clock shocks you from your slumber</h2>
                <span class="article-intro-subtitle">Music playback, along with most of the clock's other functions, are controlled via its touchscreen interface – with one key exception. The button used to turn the alarm off delivers an electrical pulse – hence the "shock" portion of the device's name.</span>
            </a>
        </div><!-- end of article-intro -->
{% end %}


{% block "widgets" %}
    <!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">最新文章</span>
            <!-- display the newest 3 articles -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <ul class="archive">
                    <li class="archive"><i class="icon-leaf"></i><a class="archive" href="/archive">AbleNook portable dwelling assembles in two hours</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-leaf"></i><a class="archive" href="/archive">smart forstars "sports utility" concept heads to Detroit</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-leaf"></i><a class="archive" href="/archive">The singNshock alarm clock shocks you from your slumbe</a></li>
                </ul>
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->


    <!-- ##########widgets collection - REUSED MODULE ##########-->
    <div class="widgets"><div class="widget-container"><!-- reused manytimes  -->
            <span class="widget-caption">分类目录</span>
            <!-- display the articles as different catalogue -->
            <div class="widget-inner-sep"></div>
            <!-- ##### below content differ each time ######-->
                <ul class="archive">
                    <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Jan</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Feb</a></li>
                    <div class="widget-inner-sep"></div>
                    <li class="archive"><i class="icon-calendar"></i><a class="archive" href="/archive">2013-Mar</a></li>
                </ul>
            <!-- ##### ###### -->
            <div class="widget-inner-sep"></div>
    </div></div><!-- closing of widget and ".widget-container" -->

{% end %}